@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  --primary-color: hsl(0, 94%, 66%);
}

section,
header,
footer {
  margin: auto;
  max-width: 1140px;
}

.btn {
  font-family: "Rubik", sans-serif;
  padding: 0.5rem 0.8rem;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  &--primary {
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color);

    &:hover {
      color: #fff !important;
      background-color: var(--primary-color);
    }
  }
}
